<section
  class="flex flex-col w-full h-full gap-y-10 bg-tw_primary"
  aria-label="left"
>
  <section class="px-4 py-5" aria-label="logo">
    <img src="assets/logo.svg" alt="logo" class="w-[200px]" />
  </section>
  <section class="px-4" aria-label="menu">
    <div class="space-y-4" aria-label="Pages">
      <h3 class="text-base font-semibold text-tw_light">Pages</h3>
      <ul class="space-y-3">
        <li>
          <aside-link-button>
            <mat-icon>home</mat-icon>
            <p>Dashboard</p>
          </aside-link-button>
        </li>
        <li>
          <aside-link-button>
            <details class="w-full">
              <summary class="flex items-center justify-between">
                <div class="flex gap-x-4">
                  <mat-icon>home</mat-icon>
                  <p>Table</p>
                </div>
                <div class=""><mat-icon>arrow_drop_down</mat-icon></div>
              </summary>
            </details>
          </aside-link-button>
        </li>
        <li>
          <aside-link-button>
            <mat-icon>home</mat-icon>
            <p>Dashboard</p>
          </aside-link-button>
        </li>
      </ul>
    </div>
  </section>
</section>
