<wrapper-standard>
  <div class="p-6">
    <h1 class="text-xl font-bold">Dashboard</h1>
  </div>
  <div class="w-full px-6 grid grid-cols-2 gap-x-4 items-center justify-items-center">
    <div
      class="w-[340px] flex flex-col px-4 py-2 gap-y-2 rounded-lg bg-tw_light"
      aria-label="Analytic Card"
    >
      <div aria-label="first">
        <h3 class="underline font-semibold">Total Traffic</h3>
      </div>
      <div aria-label="second">
        <p class="text-xl font-bold">350,250</p>
      </div>
      <div class="flex justify-end items-center gap-x-3" aria-label="third">
        <div
          class="flex items-center gap-x-1 text-sm font-semibold text-success"
        >
          <mat-icon class="-rotate-90 scale-[75%]">arrow_forward</mat-icon>
          <p>3,40%</p>
        </div>
        <p class="text-sm font-semibold">Since last month</p>
      </div>
    </div>
    <div
      class="w-[340px] flex flex-col px-4 py-2 gap-y-2 rounded-lg bg-tw_light"
      aria-label="Analytic Card"
    >
      <div aria-label="first">
        <h3 class="underline font-semibold">Total Traffic</h3>
      </div>
      <div aria-label="second">
        <p class="text-xl font-bold">350,250</p>
      </div>
      <div class="flex justify-end items-center gap-x-3" aria-label="third">
        <div
          class="flex items-center gap-x-1 text-sm font-semibold text-success"
        >
          <mat-icon class="-rotate-90 scale-[75%]">arrow_forward</mat-icon>
          <p>3,40%</p>
        </div>
        <p class="text-sm font-semibold">Since last month</p>
      </div>
    </div>
  </div>
</wrapper-standard>
